
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/.mvn/
/mvnw.cmd
/mvnw

src/main/java/META-INF/


/target/surefire-reports/
/target/maven-status/
/target/spring-data-rest-1.0.0.jar.original
/target/generated-sources/
/target/maven-archiver/
/target/test-classes/
/target/docker/
/target/generated-test-sources/
/target/classes/
